header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: white;
    height: 10vh;
    width: 100vw;
    font-weight: 900;
    background-color: grey;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 10px;
}

body {
    color: black;
    background-color: whitesmoke;
    height: 100vh;
    width: 100vh;
}

#new-book-form {
    display: flex;
    flex-direction: column;
}

.book-card {
    display: flex;
    font-size: 20px;
    padding: 5px;
    gap: 5px;
    border: 1px solid white;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-color: grey;
    height: 200px;
    width: 200px;
    border-radius: 10px;
}